<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Messages</title>
    <!-- load static -->
    {% load static %}
    <!-- <link rel="stylesheet" href="{% static 'style.css' %}"> -->
    <!-- link to h=css file -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-gray-200">
    <div class="flex items-center justify-center min-h-screen">
        <div class="bg-orange-200 p-10 rounded-lg w-1/2">
            <h2 class="text-2xl font-bold text-center mb-4">Chats</h2>
            <hr>
            <div class="flex justify-center">
                <div class="w-full bg-blue-600 rounded-lg p-4">
                    <div class="overflow-y-auto h-96" id="tasks">
                        <div class="space-y-4" id="chatContainer">
                            <!-- received messages and displayed here -->
                            {% for i in messages %}
                                {% if i.sender != user %}
                                    <div class="receive bg-gray-200 p-2 rounded-lg">
                                        <p class="text-black">{{i.message}}<strong>-{{i.sender}}</strong></p>
                                    </div>
                                {% else %}
                                    <div class="send bg-gray-200 p-2 rounded-lg">
                                        <p class="text-black">{{i.message}}</p>
                                    </div>
                                {% endif %}
                            {% endfor %}
                            <!-- end receive messages -->
                        </div>
                        <div class="mt-4">
                            <form action="" id="message-form" method="POST" class="flex justify-between items-center">
                                {% csrf_token %}
                                <textarea id="msg" cols="30" name="message" rows="10" placeholder="Enter your message" required class="w-4/5 p-2 border border-gray-300 rounded"></textarea>
                                <button class="submit bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600 transition-colors duration-200" type="submit">Send</button>
                            </form>    
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        function scrollToBottom() {
            var chatContainer = document.getElementById("chatContainer");
            chatContainer.scrollTop = chatContainer.scrollHeight;
        }

        const websocketProtocol = window.location.protocol === "https:" ? "wss" : "ws";
        const wsEndpoint = `${websocketProtocol}://${window.location.host}/ws/notification/{{room_name}}/`;
        const socket = new WebSocket(wsEndpoint);

        document.getElementById('message-form').addEventListener('submit', function(event){
            event.preventDefault();
            const message = document.getElementById('msg').value;
            socket.send(
                JSON.stringify({
                    'message': message,
                    'room_name': '{{room_name}}',
                    'sender': '{{user}}',
                })
            )
        });

        // response from consumer on server
        socket.addEventListener("message", (event) => {
            const messageData = JSON.parse(event.data)['message'];
            console.log(messageData);
            
            var sender = messageData['sender'];
            var message = messageData['message'];

            // empty message input field after message has been sent
            if (sender == {{user}}){
                document.getElementById('msg').value = '';
            }

            // Here's where we append the message to the chatbox.
            var messageDiv = document.querySelector('.message');
            if (sender != '{{user}}') { // assuming you have a variable `currentUser` to hold the current user's name
                messageDiv.innerHTML += '<div class="receive bg-gray-200 p-2 rounded-lg"><p class="text-black">' + message + '<strong>-' + sender + '</strong></p></div>';
            } else {
                messageDiv.innerHTML += '<div class="send bg-gray-200 p-2 rounded-lg"><p class="text-black">' + message + '</p></div>';
            }
            scrollToBottom();

        });

        socket.onopen = (event) => {
            console.log("WebSocket connection opened!");
        };

        socket.onclose = (event) => {
            console.log("WebSocket connection closed!");
        };

    </script>
</body>
</html>
